@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');



*, *:before, *:after {

    -webkit-box-sizing: border-box;

    -moz-box-sizing: border-box;

    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;

}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {

    margin: 0;

    padding: 0;

    direction: ltr;

}

body::-webkit-scrollbar { width: 15px; }



body::-webkit-scrollbar-track {

  background: var hsl(0, 0%, 80%);

  border-left: 1px solid hsl(0, 0%, 80%);

}



body::-webkit-scrollbar-thumb {

  background: hsl(0, 0%, 80%);

  border: 3px solid hsl(0, 0%, 80%);

  border-radius: 10px;

}



body::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }



body {

    margin: 0;

    padding: 0;

    -webkit-font-smoothing: antialiased;

    overflow-x: hidden;

}

.has-scrollbar { padding-bottom: 5px; }



.has-scrollbar::-webkit-scrollbar {

  width: 12px; /* for vertical scroll */

  height: 12px; /* for horizontal scroll */

}



.has-scrollbar::-webkit-scrollbar-thumb {

  background: hsl(0, 0%, 80%);

  border: 3px solid hsl(0, 0%, 80%);

  border-radius: 20px;

}



.has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }



.has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }



p {

    line-height: 25px;

}



.row img {

    height: auto;

    max-width: 100%;

}



a {

    text-decoration: none;

    line-height: inherit;

    color: hsl(0, 0%, 13%);

    -webkit-transition: opacity 0.3s ease-out;

    -moz-transition: opacity 0.3s ease-out;

    -o-transition: opacity 0.3s ease-out;

    transition: opacity 0.3s ease-out;

    padding: 2px;

}

ul {

  list-style-type: none;

}

li {

  padding: 0 5px;

}

iframe {

    border: 0 !important;

}



.parallax-window {

    min-height: 400px;

    background: transparent;

}



figure {

    margin: 0;

}

.row {

  max-width: 1245px;

    margin: 0 auto;

    padding: 10px 25px;

    display: flex;

    position: relative;

}



ion-icon {

  font-size: 23px;

  cursor: pointer;

  padding-top: 5px;

}

.tit {

  font-weight: 500;

  margin-bottom: 50px;

}



#header .row {

    max-width: 760px;

    margin: 0 auto;

    display: grid;

    grid-template-columns: 1fr 1fr;

}

.heading {

  font-size: 15px;

  margin-top: 5px;

}

.col-1 {

  display: flex;

    margin-left: auto;

}



.social-icons {

    display: flex;

    gap: 10px;

}

ion-icon a {

}



.dropdown-menu {

  position: fixed;

  background-color: #f9f9f9;

  width: 90%;

  right: 10px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  border-top-left-radius: 5px;

  transition: all 0.3s ease-out;

  z-index: 1000;

}

#nav-main {

  z-index: 1000;

  border-top-left-radius: 5px;

  transform: translateX(-100%);

  transition: all 0.3s ease-out;

}

#banner-content {

  background-image: url('../images/banner.jpg');

  background-repeat: no-repeat;

  background-size: cover;

  background-position-x: 50px;

  height: 300px;

  align-items: center;

  margin-left: 20px;

  z-index: -55;

}

.dropdown-menu li {

  padding: 10px;

  border-top-left-radius: 5px;

  transition: all 0.3s ease-out;

}

.dropdown-menu a {

  border-bottom: 1px solid hsl(0, 0%, 13%);

}

.close-menu {

  display: none;

  border-top-left-radius: 5px;

  transition: all 0.3s ease-out;

}



#about .row {

  margin-top: 20px;

  display: flex;

  flex-direction: column;

}



.section-heading .tit {

  max-width: 270px;

  margin-top: 20px;

}

.section-title {

  text-align: center;

  margin-bottom: 20px;

}

.section-tit h5, .projects-desc p {

  margin: auto;

  margin-bottom: 20px;

  max-width: 420px;

}

.section-img {

  margin: auto;

  margin-bottom: 20px;

  border-radius: 50px;

  border: 1px solid #000;

  height: 250px;

  width: 68%;

  background-image: url('../images/Vr.jpg');

  background-repeat: no-repeat;

  background-size: cover;

}

.section-img:hover {

  background-image: url('../images/A.jpg');

}

#gallery {

  margin-top: 30px;

  background: #f9f9f9;

  padding: 10px;

  overflow: hidden;

}

.box {

  margin-top: 5px;

  padding-bottom: 10px;

}

.box p {

  font-size: 14px;

}

.projects-desc {

  text-align: center;

}

.project-cont {

  max-width: 1000px;

  min-height: 450px;

  margin: auto;

  display: flex;

  align-items: center;

  gap: 25px;

  overflow: auto hidden;

  scroll-snap-type: inline mandatory;

  overscroll-behavior-inline: contain;

}

.desc-row {

  position: relative;

  min-width: 100%;

  padding-bottom: 10px;

  aspect-ratio: 1 / 1;

  overflow: hidden;

  scroll-snap-align: start;

}



.project-img {

  margin: auto;

  border-radius: 50px;

  border: 1px solid #000;

  height: 250px;

  width: 68%;

  background-repeat: no-repeat;

  background-size: cover;

}

.p1 {

  background-image: url('../images/Ce.jpg');

}

.p1:hover {

  background-image: url('../images/hr.jpg');

}

.p2 {

  background-image: url('../images/Tg.jpg');

}

.p2:hover {

  background-image: url('../images/me.jpg');

}

.p3 {

  background-image: url('../images/G (3).jpg');

}

.p3:hover {

  background-image: url('../images/F.jpg');

}

.btns {

  margin-left: 10px;

  text-align: center;

}

.p {

  font-size: 12px;

}



.footer-row{

  display: grid;

  grid-template-columns: 1fr 1fr;

  padding-top: 10px;

  text-align: center;

}



.foots{

  background-color: lightgrey;

  padding: 20px;

  text-align: center;

}





@media only screen and (min-width: 768px) {

  #banner-content, #gallery {

    min-height: 450px;

    max-height: 450px;

  }

  #banner-content .section-heading {

    margin-left: 80px;

  }

  #about .row {

    width: 90%;

    flex-direction: row;

    gap: 20px;

  }

  .desc-row {

    width: 90%;

    padding: 0 20px;

    display: flex;

    gap: 25px;

  }

  .project-img {

    margin: 0;

  }

  .desc-row .box {

    margin-top: 50px;

  }

}

@media only screen and (min-width: 768px) {

  .section-img {

    background-position-y: -1rem;

  }

}
